.soukName{
    font-size: xx-large;
    letter-spacing: 2.5px;
    font-weight: bold;
    line-height: 35px;
}

.soukInfos{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.shopCount{
    color: rgba(0, 0, 0, 0.35);
    font-size: large;
}

.soukDescription{
    line-height: 20px;
    margin-bottom: 1.5%;
}

.mapPic {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-height: 69vh;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  